<h1 id="osc-vjing-with-opencv-in-python">OSC vjing with opencv in python</h1>
<p>async OSC server for opencv based VJing.</p>
<p>still on progress I'm open to ideas.</p>
<p><code>main.py</code> has all my progress</p>
<p><code>client.py</code> has examples of use</p>
<h2 id="requirements">Requirements</h2>
<ul class="incremental">
<li>pythonosc</li>
<li>opencv</li>
<li>python3.7</li>
<li>numpy</li>
</ul>
<h2 id="ideas-for-effects">ideas for effects</h2>
<p><em>Geometric</em>:</p>
<ul class="incremental">
<li>Scale</li>
<li>Rotate</li>
<li>FlipX</li>
<li>FlipY</li>
<li>Kaleid</li>
<li>Translation</li>
</ul>
<p><em>Color</em>:</p>
<ul class="incremental">
<li>Opacity</li>
<li>Brightness</li>
<li>Contrast</li>
<li>Blur</li>
</ul>
